@font-face {
  font-family: "ABCDiatype";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../assets/fonts/ABCDiatype-Regular.woff") format("woff");
}

@font-face {
  font-family: "ModernGothic";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../assets/fonts/ModernGothic-Regular.woff2") format("woff2");
}


@font-face {
  font-family: "ABCDiatype";
  font-style: bold;
  font-weight: 600;
  font-display: auto;
  src: url("../assets/fonts/ABCDiatype-Bold.woff") format("woff");
}

@font-face {
  font-family: "Untitled";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url("../assets/fonts/UntitledSansWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "Untitled";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../assets/fonts/UntitledSansWeb-Regular.woff") format("woff");
}