@import "@radix-ui/colors/slateDark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/indigoDark.css";
@import "@radix-ui/colors/indigo.css";

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: var(--indigo1);
  color: var(--slate12);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--text-base);
  min-height: 100vh;
  letter-spacing: 0.015rem;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


h1 {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-head);
}

h2 {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  line-height: var(--leading-head);
}

.content p {
  margin-top: var(--spacing-5);
  line-height: var(--leading-base);
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  /* color: var(--slate12); */
}