---
import Header from '@/components/Header.jsx'
import { css, getCssText } from '$/stitches.config.ts'


const { title } = Astro.props

const contentStyles = css({
  padding: '0 $6',
  maxWidth: 'var(--content-width)',
  margin: '0 auto'

})

const footerStyles = css({
  margin: 'auto auto 0 auto',
  padding: '$6',
  fontSize: 12,
  width: '100%',
  maxWidth: 'var(--content-width)'
})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href={Astro.resolve('../styles/index.css')}>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script></script>
  </head>
  <body class="dark-theme">
    <Header title="Studio Scholz" client:load />
    <div class={`${contentStyles()} content`}>
      <slot />
    </div>  
    <!-- <Sheet /> -->
    <footer class={`${footerStyles()} footer`}>
      <span>Last edited 12/7/2021</span>
      <p>Robin Scholz, Idastr. 13, 81479 Munich</p>
    </footer>
  </body>
</html>

<style>
.content {
  padding: 0 var(--spacing-6);
  max-width: var(--content-width);
  margin: 0 auto;
}

.footer {
  margin: auto auto 0 auto;
  padding: var(--spacing-6);
  font-size: var(--text-sm);
  width: 100%;
  max-width: var(--content-width);
}
  </style>